// BODY STYLES //

body {
    font-family: 'Montserrat', sans-serif;
}

// NAVBAR STYLES //

.navbarStyle {
    border-bottom: #f28181 3px solid;
    color: #f28181;
}

.userProfileIcon {
    font-size: 30px;
    color: #f28181;
}
// BODY STYLES //
.leerSVG {
    width: 75px;
    height: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
}

// FOOTER STYLES //

.footerStyle {
    border-top: #f28181 3px solid;
    font-size: 40px;
}

.socialMediaIcon {
    margin: 5px;
    color: #f28181;
}