/* 
    General Styles
*/

// BODY STYLES //

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fcfff8;
    color: #2b2d4a;
}

p {
    font-size: 19px;
    font-weight: 400;
}

.text-coral {
    color: #f28181;
}

.bg-coral {
    background-color: #f28181;
}

.bg-darkcoral {
    background-color: #8f3749;
}

// GENERAL STYLES // 

.divisionGuiaYBotones {
    border-bottom: 1px solid #f28181;
}

.card {
    //border: 3.5px solid #2b2d4a;
    transition: 0.2s;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
}

.card:hover {
    transition: 0.2s;
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buscador {
    border: #f28181 solid 2px;
    border-radius: 5px;
    color: #f28181;
    width: 200px;
    transition: 0.7s;
}

.buscador:focus {
    transition: 0.7s;
    width: 300px;
}

.botonRegistro {
    cursor: pointer;
}

input[type=button], .btn {
    color: #fcfff8;
}

.leerSVG {
    width: 75px;
    height: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.home_menuH1 {
    font-weight: 900;
    font-size: 9.5vmin;
    margin-bottom: 10px;
    padding-bottom: 0;
}

.home_menuH4 {
    font-weight: 300;
    font-style: italic;
    font-size: 3vh;
}

.menu_h5GuideTitle {
    font-weight: 700;
}

// GENERAL GUIDE STYLES //

.title { // propiedades tomadas de la clase .BAC_Middleh1Guide de Fede
    font-size: 5.3vH; 
    font-weight: 900;
    text-align: center;
    margin: 3vh 0 1vh;
    line-height: 120%;
}

.subtitle { // propiedades tomadas de la clase .BAC_h5Guide de Fede
    font-size: 2.5vh;
    font-weight: lighter; 
    font-style: italic;
    text-align: center;
    letter-spacing: 0.3vh;
    padding-bottom: 0;
    line-height: 120%;
}

.image {
    //border: 3.5px solid #2b2d4a;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    height: 600px;
    margin: 3vh;
}

.imageIcon {
    height: 100px;
    width: 100px;
}

.imgGuia {
    border: 3.5px solid #2b2d4a;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.h3GuidesStep {
    font-weight: 700;
    font-size: 35px;
}

.container {
    max-width: 1500px;
}

// test class to check container size
// .guideContainer {
//     border: 2px red solid;
// }

// LOGIN STYLE //

.loginH2 {
    font-size: 35px;
    font-weight: 900;
}

.infoBox {
    border: #f28181 solid 2px;
    border-radius: 5px;
    color: #f28181;
    transition: 0.7s;
}

.infoBox:focus {
    transition: 0.7s;
    border: #2b2d4a solid 2px;
    color: #2b2d4a;
}

// PASSWORD RESET STYLES // 

#pwResetBtn {
    color: #dc3545;
}

#pwResetBtn:hover {
    color: #fcfff8;
}

#pwResetBtn:focus {
    color: #fcfff8;
}

.pwResetTopH2 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 100px;
    padding-bottom: 0;
    line-height: 2%;
}

.pwResetBottomH2 {
    font-weight: 900;
    font-size: 35px;
    margin-top: 0;
    padding-bottom: 0;
    line-height: 100%;
}

.infoBox {
    border: #f28181 solid 2px;
    border-radius: 5px;
    color: #f28181;
    transition: 0.7s;
}

.infoBox:focus {
    transition: 0.7s;
    border: #2b2d4a solid 2px;
    color: #2b2d4a;
}

// SIGN UP STYLES //

.signUpBox {
    border: #f28181 solid 2px;
    border-radius: 5px;
    color: #f28181;
    transition: 0.7s;    
}

.signUpBox:focus {
    transition: 0.7s;
    border: #2b2d4a solid 2px;
    color: #2b2d4a;
}

.signUpH2 {
    font-size: 45px;
    font-weight: 900;
}

// ZOOM GUIDE STYLES //

.Zoom_Toph1Guide {
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 30px;
    padding-bottom: 0;
    line-height: 65%;
}

.Zoom_Bottomh1Guide {
    font-weight: 900;
    font-size: 53px;
    margin-top: 0;
    padding-bottom: 0;
    line-height: 100%;
}

.Zoom_h5Guide {
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 11.5px;
    line-height: 20%;
}

// BAC GUIDE STYLES //

.BAC_Toph1Guide {
    font-size: 120px; //60px o crear imagen de los 3 juntos
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 30px;
    padding-bottom: 0;
    line-height: 50%;
}

.BAC_Middleh1Guide {
    font-size: 75px; //37.5px o crear imagen de los 3 juntos
    font-weight: 900;
    margin-bottom: 0;
    padding-bottom: 0;
}

.BAC_Bottomh1Guide {
    font-size: 50px; //25px o crear imagen de los 3 juntos
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 50%;
}

.BAC_h5Guide {
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 11.5px;
    margin-top: 10px;
}

// WHATSAPP GUIDE STYLES //

.WA_Toph1Guide {
    font-size: 120px;
    font-weight: 900;
    margin-bottom: 0;
    margin-top: 30px;
    padding-bottom: 0;
    line-height: 50%;
}

.WA_Middleh1Guide {
    font-size: 74px;
    font-weight: 900;
    margin-bottom: 0;
    padding-bottom: 0;
    
}

.WA_Bottomh1Guide {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 50%;
}

.WA_h5Guide {
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 2.7px;
    margin-top: 10px;
}

// NAVBAR STYLES //

.navbar {
    padding: 0rem 1rem;
}

.navbarStyle {
    border-bottom: #f28181 3px solid;
    color: #f28181;
    //background-color: #fcfff8;
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline-color: #f28181;
    //box-shadow: none;
}

.userProfileIcon {
    font-size: 30px;
    color: #f28181;
}

.logoClass {
    width: 153.6px;
    height: 86.4px;
    transition: 0.2s;
}

.logoClass:hover {
    transform: scale(0.90);
    transition: 0.2s;
}

.darkModeBtn {
    border: #f28181 2px solid;
    border-radius: 5px;
    background-color: #fcfff8;
    color: #f28181;
    //margin-right: 10px;
}

// FOOTER STYLES //

.footerStyle {
    border-top: #f28181 3px solid;
    font-size: 40px;
    background-color: #8f3749;
}

.socialMediaIcon {
    margin: 5px;
    color: #f28181;
    transition: 0.7s;
}

.socialMediaIcon:hover {
    text-shadow: 0 0 6px rgb(0, 0, 0);
    transition: 0.7s;
}

// BAC GUIDES STYLES //

.bacTutorialImg1 {
    height: 100px;
    width: 100px;
}

.bacTutorialImg {
    height: 600px;
    width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

// ZOOM GUIDE STYLES // 

.zoomTutorialImg {
    height: 600px;
    width: 300px;
}

.zoomTutorialImg1 {
    height: 100px;
    width: 75px;
}

.zoomTutorialImg4 {
    height: 150px;
    width: 300px;
}

// WHATSAPP GUIDE STYLES // 

.WATutorialImg {
    height: 600px;
    width: 300px;
}
